<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head.ejs %>
	<link rel="stylesheet" type="text/css" href="../../../css/main.css">
	<script type="text/javascript" src="../../../js/scripts.js"></script>
</head>
<body>
	<header>
		<nav class="bar">
			<a href="/">
				<div id="logo"><img src="../../../img/white-logo-2.png"></div>
			</a>
			<% if (!login) { %> 
				<form action="/users/login" method="POST" class="nav-items" id="login-form">
					<div class="nav-items">Log In</div>
					<input type="text" name="email" placeholder="EMAIL" class="nav-items"></input>
					<input type="text" name="password" placeholder="PASSWORD" class="nav-items"></input>
					<button class="nav-items" id="sign-in-nav">LOGIN</button>
				</form>
				<a href="/signup" class="nav-items">
					<div class="nav-items"> Sign Up</div>
				</a>
			<% } %>

			<% if (login) { %>
				<a href="/users/" class="nav-items" id="selected-nav">MY DAY</a>
				<a href="/users#create" class="nav-items" >CREATE A NEW TASK</a>
				<a href="/tasks" class="nav-items">TASKS</a> 
				<a href="/users/userlib" class="nav-items">USERS</a> 
				<a href="/logout" class="nav-items" id="nav-logout">
				LOG OUT
				</a>
			<% } %>
		</nav>
	</header>
<main>

<% if (usertrue) { %> 
	<h2>UPDATE THIS TASK</h2>
<% } %>

<% if (!usertrue) { %>
	<h2> <%= tasks.name %> </h2>
<% } %>

	<div class="image-area-user-edit">
			<div class="image-box">
				<img src="<%=tasks.image%>">
				<div class="caption"><%=tasks.name%></div>
			</div>
	</div>f
	<div class="time">TIME: &nbsp &nbsp &nbsp<%=tasks.time%></div>

<% if (usertrue) { %> 
	<form action="/users/<%=tasks.id%>?_method=PUT" method="POST" id="update-task">
		<input type="hidden" name="_method" value="PUT">
			<p>NAME:
				<input type="text" name="name" value="<%= tasks.name %>">
			</p>
			<p> IMAGE URL:
				<input type="text" name="image" value="<%= tasks.image %>">
			</p>
			<p>
				TIME:
				<input type="text" name="time" value="<%= tasks.time %>">
			</p>
		<button>UPDATE</button>
	</form>
<% } %>

<% if (usertrue) { %> 
			<form action="/users/<%=tasks.id%>/delete?_method=DELETE" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<button id="delete-button">DELETE TASK FROM MY DAY</button>
			</form>
<% } %>

</main>
</body>
</html>